<a href="https://colab.research.google.com/github/lucasaree/tps-pii-colab/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [2]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [3]:
prueba1=dict.items({'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10})
print(prueba1)

dict_items([('Alberto', 10), ('José', 7), ('Dario', 14), ('Ana', 8), ('Maria', 9), ('Emilia', 10)])

In [4]:
prueba1=list(prueba1)
print(prueba1)

[('Alberto', 10), ('José', 7), ('Dario', 14), ('Ana', 8), ('Maria', 9), ('Emilia', 10)]

In [5]:
pruebareal=tuple(prueba1)
print(pruebareal)

(('Alberto', 10), ('José', 7), ('Dario', 14), ('Ana', 8), ('Maria', 9), ('Emilia', 10))

In [6]:
pruebareal=set(pruebareal)
print(pruebareal)

{('Ana', 8), ('Maria', 9), ('Alberto', 10), ('Emilia', 10), ('Dario', 14), ('José', 7)}

In [7]:
lista=[]

for tupla in estudiantes:
  lista.append(tuple(tupla.items()))
for alumno in lista:
  print(alumno)

(('name', 'Abud Laspiur, Lourdes Mariel'), ('section', 'C'), ('dob', '05/12/2006'))
(('name', 'Amador, Luana Micaela'), ('section', 'C'), ('dob', '09/12/2006'))
(('name', 'Anaquin, Leonardo Ezequiel'), ('section', 'C'), ('dob', '06/09/2005'))
(('name', 'Araoz Sanchez, Lautaro Nahuel'), ('section', 'C'), ('dob', '28/12/2005'))
(('name', 'Argañaraz, Agostina Abril'), ('section', 'C'), ('dob', '11/10/2006'))
(('name', 'Barrera, Matias Ezequiel'), ('section', 'C'), ('dob', '27/02/2007'))
(('name', 'Barrera, Matias Ezequiel'), ('section', 'C'), ('dob', '27/02/2007'))
(('name', 'Barrozo Vedia, Joaquin Nicolas'), ('section', 'C'), ('dob', '15/04/2006'))
(('name', 'Bettinelli, Valentino'), ('section', 'C'), ('dob', '12/07/2006'))
(('name', 'Bracamonte Martinez, Salvador'), ('section', 'C'), ('dob', '02/11/2005'))
(('name', 'Colque Rivero, Ariana Zoe Del Valle'), ('section', 'C'), ('dob', '27/12/2006'))
(('name', 'Diaz, Dulce Maitena'), ('section', 'C'), ('dob', '11/12/2006'))
(('name', 'Figueroa, Santino Josue'), ('section', 'C'), ('dob', '12/05/2007'))
(('name', 'Figueroa, Santino Josue'), ('section', 'C'), ('dob', '12/05/2007'))
(('name', 'Flores Cardozo, Agustina Tiara'), ('section', 'C'), ('dob', '18/03/2006'))
(('name', 'Gallo, Octavio Ismael'), ('section', 'C'), ('dob', '04/08/2006'))
(('name', 'Galvan, Lourdes Yamila'), ('section', 'C'), ('dob', '19/08/2005'))
(('name', 'Giangreco, Vitto Tomasso'), ('section', 'C'), ('dob', '21/03/2007'))
(('name', 'Grancara, Martina Luna'), ('section', 'C'), ('dob', '15/12/2006'))
(('name', 'Guanca, Sara Elizabeth'), ('section', 'C'), ('dob', '17/01/2007'))
(('name', 'Lopez, Victoria Constanza'), ('section', 'C'), ('dob', '12/11/2007'))
(('name', 'Mamani Garrido, Rosario Agostina'), ('section', 'C'), ('dob', '24/10/2006'))
(('name', 'Marinaro, Martin Ezequiel'), ('section', 'C'), ('dob', '03/11/2006'))
(('name', 'Merluzzi Dagum, Ignacio'), ('section', 'C'), ('dob', '22/12/2005'))
(('name', 'Messina, Martina'), ('section', 'C'), ('dob', '13/07/2005'))
(('name', 'Rasuk, Karim'), ('section', 'C'), ('dob', '13/07/2007'))
(('name', 'Rasuk, Karim'), ('section', 'C'), ('dob', '13/07/2007'))
(('name', 'Rios, Lucia Magali'), ('section', 'C'), ('dob', '22/09/2006'))
(('name', 'Sanchez Flores, Matías Agustín'), ('section', 'C'), ('dob', '15/02/2007'))
(('name', 'Scarano, Renato Marcelo'), ('section', 'C'), ('dob', '06/12/2006'))
(('name', 'Sierra, Lucas Mauricio'), ('section', 'C'), ('dob', '03/04/2005'))
(('name', 'Tapia, Martin Gabriel'), ('section', 'C'), ('dob', '30/05/2006'))
(('name', 'Vilte, Mia Antonella Alondra'), ('section', 'C'), ('dob', '10/09/2005'))
(('name', 'Virgillito, Katya Milena'), ('section', 'C'), ('dob', '19/06/2007'))
(('name', 'Alurralde, Solange Stefania'), ('section', 'D'), ('dob', '02/04/2007'))
(('name', 'Alvarado, Ludmila Del Milagro'), ('section', 'D'), ('dob', '06/09/2006'))
(('name', 'Angel, Camila Juliana'), ('section', 'D'), ('dob', '07/03/2007'))
(('name', 'Arenas, Lucas Gabriel'), ('section', 'D'), ('dob', '26/06/2007'))
(('name', 'Caseres, Maria Antonia'), ('section', 'D'), ('dob', '01/07/2006'))
(('name', 'Castillo, Paulina Milagros'), ('section', 'D'), ('dob', '01/06/2007'))
(('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006'))
(('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006'))
(('name', 'D Elia, Alvaro Tadeo'), ('section', 'D'), ('dob', '27/08/2006'))
(('name', 'Flores, Victoria Agustina'), ('section', 'D'), ('dob', '12/12/2006'))
(('name', 'Geronimo Soriano, Lizzie Amaya'), ('section', 'D'), ('dob', '20/01/2007'))
(('name', 'Guzman, Angélica Morena'), ('section', 'D'), ('dob', '11/04/2007'))
(('name', 'Guzman, Jazmin Esmeralda Belen'), ('section', 'D'), ('dob', '31/07/2006'))
(('name', 'Jaime, Anita Maria Belen'), ('section', 'D'), ('dob', '19/04/2007'))
(('name', 'Lacour Polo, Nazarena'), ('section', 'D'), ('dob', '19/12/2005'))
(('name', 'Lascano Guanca, Marcelo Fabricio'), ('section', 'D'), ('dob', '17/02/2006'))
(('name', 'Lezcano, Celia Morena'), ('section', 'D'), ('dob', '01/07/2005'))
(('name', 'Martinez, Tomas Andres'), ('section', 'D'), ('dob', '22/03/2007'))
(('name', 'Portella Valdivia, Pedro Francisco'), ('section', 'D'), ('dob', '24/01/2007'))
(('name', 'Retamal Cisneros, Zacarias Josue'), ('section', 'D'), ('dob', '24/02/2007'))
(('name', 'Rosales, Francisco Gabriel'), ('section', 'D'), ('dob', '14/11/2006'))
(('name', 'Salem Barba, Mahia'), ('section', 'D'), ('dob', '14/10/2005'))
(('name', 'Soto Camara, Agustin Ignacio'), ('section', 'D'), ('dob', '07/11/2005'))
(('name', 'Villalba, Irina'), ('section', 'D'), ('dob', '09/09/2006'))
(('name', 'Voltolini, Emanuel Tobias'), ('section', 'D'), ('dob', '17/09/2006'))
(('name', 'Zalazar, Santino Stefano'), ('section', 'D'), ('dob', '30/09/2006'))
(('name', 'Zalazar, Santino Stefano'), ('section', 'D'), ('dob', '30/09/2006'))

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [10]:
nombres5C=set()
apellidos5C=set()
nombres5D=set()
apellidos5D=set()
#aca hago desempaqueto el diccionario
for estudiante in estudiantes:
  nombre_completo=estudiante["name"].split(",")
  apellido=nombre_completo[0]
  nombres=nombre_completo[1].split(" ")
#en la teoria q mando para añadir elementos a un conjunto es add no extend
  if estudiante["section"]=="C":
    apellidos5C.add(apellido)
#HAGO FOR PORQ HAY MAS DE 1 NOMBRE Y SE VUELVE UNA  LIST
    for nombre in nombres:
      nombres5C.add(nombre)
  elif estudiante["section"]=="D":
    apellidos5D.add(apellido)
    for nombre in nombres:
      nombres5D.add(nombre)
print("5c nombres", nombres5C)
print("5c apellidos", apellidos5C)
print("5d nombres", nombres5D)
print("5d apellidos", apellidos5D)
#vi que ahora los repetidos son eliminados por el set como zalasar

5c nombres {'', 'Micaela', 'Mauricio', 'Alondra', 'Magali', 'Luana', 'Elizabeth', 'Rosario', 'Zoe', 'Mia', 'Ismael', 'Katya', 'Leonardo', 'Lourdes', 'Antonella', 'Matías', 'Milena', 'Lucia', 'Lautaro', 'Santino', 'Octavio', 'Abril', 'Luna', 'Dulce', 'Martina', 'Agustín', 'Ariana', 'Gabriel', 'Karim', 'Victoria', 'Renato', 'Valentino', 'Valle', 'Lucas', 'Salvador', 'Agustina', 'Vitto', 'Ignacio', 'Matias', 'Mariel', 'Yamila', 'Joaquin', 'Nicolas', 'Del', 'Ezequiel', 'Maitena', 'Josue', 'Marcelo', 'Tiara', 'Tomasso', 'Constanza', 'Sara', 'Agostina', 'Martin', 'Nahuel'}
5c apellidos {'Colque Rivero', 'Bracamonte Martinez', 'Argañaraz', 'Sanchez Flores', 'Bettinelli', 'Anaquin', 'Grancara', 'Merluzzi Dagum', 'Giangreco', 'Gallo', 'Barrozo Vedia', 'Amador', 'Rios', 'Barrera', 'Messina', 'Vilte', 'Marinaro', 'Araoz Sanchez', 'Diaz', 'Flores Cardozo', 'Virgillito', 'Figueroa', 'Galvan', 'Mamani Garrido', 'Sierra', 'Lopez', 'Guanca', 'Abud Laspiur', 'Tapia', 'Rasuk', 'Scarano'}
5d nombres {'', 'Lizzie', 'Zacarias', 'Pedro', 'Andres', 'Irina', 'Tomas', 'Mariano', 'Juliana', 'Jazmin', 'Maria', 'Belen', 'Milagro', 'Santino', 'Morena', 'Milagros', 'Ludmila', 'Gabriel', 'Victoria', 'Stefano', 'Emanuel', 'Tadeo', 'Lucas', 'Amaya', 'Mahia', 'Agustina', 'Anita', 'Ignacio', 'Fabricio', 'Paulina', 'Angélica', 'Stefania', 'Antonia', 'Francisco', 'Del', 'Tobias', 'Josue', 'Esmeralda', 'Marcelo', 'Celia', 'Alvaro', 'Agustin', 'Hugo', 'Camila', 'Nazarena', 'Solange'}
5d apellidos {'Soto Camara', 'Alvarado', 'Lacour Polo', 'D Elia', 'Portella Valdivia', 'Flores', 'Alurralde', 'Lezcano', 'Martinez', 'Rosales', 'Salem Barba', 'Arenas', 'Jaime', 'Villalba', 'Caseres', 'Retamal Cisneros', 'Voltolini', 'Angel', 'Zalazar', 'Guzman', 'Correa Segovia', 'Castillo', 'Geronimo Soriano', 'Lascano Guanca'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [11]:
#apellido por las dudas
conteo_nombres5D=[]
conteo_apellidos5D=[]
conteo_nombres5C=[]
conteo_apellidos5C=[]
for estudiante in estudiantes:
  nombre_completo=estudiante["name"].split(",")
  apellido=nombre_completo[0]
  nombres=nombre_completo[1].split(" ")
  if estudiante["section"]=="C":
    conteo_apellidos5C.add(apellido)
    for nombre in nombres:
      conteo_nombres5C.add(nombre)
  elif estudiante["section"]=="D":
    conteo_apellidos5D.add(apellido)
    for nombre in nombres:
      conteo_nombres5D.add(nombre)
  for conteo in conteo_nombres5C:
    if conteo in conteo_nombres5C:
      conteo+=1
    else:
      conteo=1

  print(conteo)

55
46

In [19]:
conteo_nombres5D=dict()
conteo_apellidos5D=dict()
conteo_nombres5C=dict()
conteo_apellidos5C=dict()
for nombre in nombres5D:
  if nombre in conteo_nombres5D:
    conteo_nombres5D.update({nombre:conteo_nombres5D[nombre]+1})
  else:
    conteo_nombres5D[nombre]=1
for nombre in nombres5C:
  if nombre in conteo_nombres5C:
    conteo_nombres5C.update({nombre:conteo_nombres5C[nombre]+1})
  else:
    conteo_nombres5C[nombre]=1

print(conteo_nombres5C)

{'': 1, 'Micaela': 1, 'Mauricio': 1, 'Alondra': 1, 'Magali': 1, 'Luana': 1, 'Elizabeth': 1, 'Rosario': 1, 'Zoe': 1, 'Mia': 1, 'Ismael': 1, 'Katya': 1, 'Leonardo': 1, 'Lourdes': 1, 'Antonella': 1, 'Matías': 1, 'Milena': 1, 'Lucia': 1, 'Lautaro': 1, 'Santino': 1, 'Octavio': 1, 'Abril': 1, 'Luna': 1, 'Dulce': 1, 'Martina': 1, 'Agustín': 1, 'Ariana': 1, 'Gabriel': 1, 'Karim': 1, 'Victoria': 1, 'Renato': 1, 'Valentino': 1, 'Valle': 1, 'Lucas': 1, 'Salvador': 1, 'Agustina': 1, 'Vitto': 1, 'Ignacio': 1, 'Matias': 1, 'Mariel': 1, 'Yamila': 1, 'Joaquin': 1, 'Nicolas': 1, 'Del': 1, 'Ezequiel': 1, 'Maitena': 1, 'Josue': 1, 'Marcelo': 1, 'Tiara': 1, 'Tomasso': 1, 'Constanza': 1, 'Sara': 1, 'Agostina': 1, 'Martin': 1, 'Nahuel': 1}

4. Muestra cuantos apellidos únicos hay en cada curso.

In [20]:
#que bueno que lo hice por las dudas
for apellido in apellidos5D:
  if apellido in conteo_apellidos5D:
    conteo_apellidos5D.update({apellido:conteo_apellidos5D[apellido]+1})
  else:
    conteo_apellidos5D[apellido]=1
for apellido in apellidos5C:
  if apellido in conteo_apellidos5C:
    conteo_apellidos5C.update({apellido:conteo_apellidos5C[apellido]+1})
  else:
    conteo_apellidos5C[apellido]=1

print(conteo_apellidos5D)
print(conteo_apellidos5C)

{'Soto Camara': 1, 'Alvarado': 1, 'Lacour Polo': 1, 'D Elia': 1, 'Portella Valdivia': 1, 'Flores': 1, 'Alurralde': 1, 'Lezcano': 1, 'Martinez': 1, 'Rosales': 1, 'Salem Barba': 1, 'Arenas': 1, 'Jaime': 1, 'Villalba': 1, 'Caseres': 1, 'Retamal Cisneros': 1, 'Voltolini': 1, 'Angel': 1, 'Zalazar': 1, 'Guzman': 1, 'Correa Segovia': 1, 'Castillo': 1, 'Geronimo Soriano': 1, 'Lascano Guanca': 1}
{'Colque Rivero': 1, 'Bracamonte Martinez': 1, 'Argañaraz': 1, 'Sanchez Flores': 1, 'Bettinelli': 1, 'Anaquin': 1, 'Grancara': 1, 'Merluzzi Dagum': 1, 'Giangreco': 1, 'Gallo': 1, 'Barrozo Vedia': 1, 'Amador': 1, 'Rios': 1, 'Barrera': 1, 'Messina': 1, 'Vilte': 1, 'Marinaro': 1, 'Araoz Sanchez': 1, 'Diaz': 1, 'Flores Cardozo': 1, 'Virgillito': 1, 'Figueroa': 1, 'Galvan': 1, 'Mamani Garrido': 1, 'Sierra': 1, 'Lopez': 1, 'Guanca': 1, 'Abud Laspiur': 1, 'Tapia': 1, 'Rasuk': 1, 'Scarano': 1}

5. Mostrá los nombres que se aparecen em ambos cursos

In [23]:
ambos_cursos = nombres5C.intersection(nombres5D)
print(f"nombres que aparecenn{ambos_cursos}")

nombres que aparecenn{'', 'Agustina', 'Del', 'Ignacio', 'Santino', 'Josue', 'Marcelo', 'Gabriel', 'Victoria', 'Lucas'}

6. Mostrá los apellidos que se aparecen en ambos cursos

In [24]:
ambos_cursos2 = apellidos5C.intersection(apellidos5D)
print(f"appellidos que aparecenn{ambos_cursos2}")

appellidos que aparecennset()

In [25]:
#NO FUNCIONA EL QUE YO HICE y el de gemini tampoco

ambos_apellidos = apellidos5C.intersection(apellidos5D)
print(f"Apellidos que aparecen en ambos cursos: {ambos_apellidos}")

Apellidos que aparecen en ambos cursos: set()

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:
pass

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:
pass

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [ ]:
pass

10. elimina tu nombre del conjunto al que pertenece

In [ ]:
pass

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [ ]:
pass

12. Solicita un nombre y verifica si este existe en el diccionario