<a href="https://colab.research.google.com/github/lucasaree/tps-pii-colab/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [ ]:
prueba1=dict.items({'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10})
print(prueba1)

dict_items([('Alberto', 10), ('José', 7), ('Dario', 14), ('Ana', 8), ('Maria', 9), ('Emilia', 10)])

In [ ]:
prueba1=list(prueba1)
print(prueba1)

[('Alberto', 10), ('José', 7), ('Dario', 14), ('Ana', 8), ('Maria', 9), ('Emilia', 10)]

In [ ]:
pruebareal=tuple(prueba1)
print(pruebareal)

(('Alberto', 10), ('José', 7), ('Dario', 14), ('Ana', 8), ('Maria', 9), ('Emilia', 10))

In [ ]:
pruebareal=set(pruebareal)
print(pruebareal)

{('Ana', 8), ('Maria', 9), ('Alberto', 10), ('Emilia', 10), ('Dario', 14), ('José', 7)}

In [2]:
lista=[]

for tupla in estudiantes:
  lista.append(tuple(tupla.items()))
for alumno in lista:
  print(alumno)

(('name', 'Abud Laspiur, Lourdes Mariel'), ('section', 'C'), ('dob', '05/12/2006'))
(('name', 'Amador, Luana Micaela'), ('section', 'C'), ('dob', '09/12/2006'))
(('name', 'Anaquin, Leonardo Ezequiel'), ('section', 'C'), ('dob', '06/09/2005'))
(('name', 'Araoz Sanchez, Lautaro Nahuel'), ('section', 'C'), ('dob', '28/12/2005'))
(('name', 'Argañaraz, Agostina Abril'), ('section', 'C'), ('dob', '11/10/2006'))
(('name', 'Barrera, Matias Ezequiel'), ('section', 'C'), ('dob', '27/02/2007'))
(('name', 'Barrera, Matias Ezequiel'), ('section', 'C'), ('dob', '27/02/2007'))
(('name', 'Barrozo Vedia, Joaquin Nicolas'), ('section', 'C'), ('dob', '15/04/2006'))
(('name', 'Bettinelli, Valentino'), ('section', 'C'), ('dob', '12/07/2006'))
(('name', 'Bracamonte Martinez, Salvador'), ('section', 'C'), ('dob', '02/11/2005'))
(('name', 'Colque Rivero, Ariana Zoe Del Valle'), ('section', 'C'), ('dob', '27/12/2006'))
(('name', 'Diaz, Dulce Maitena'), ('section', 'C'), ('dob', '11/12/2006'))
(('name', 'Figueroa, Santino Josue'), ('section', 'C'), ('dob', '12/05/2007'))
(('name', 'Figueroa, Santino Josue'), ('section', 'C'), ('dob', '12/05/2007'))
(('name', 'Flores Cardozo, Agustina Tiara'), ('section', 'C'), ('dob', '18/03/2006'))
(('name', 'Gallo, Octavio Ismael'), ('section', 'C'), ('dob', '04/08/2006'))
(('name', 'Galvan, Lourdes Yamila'), ('section', 'C'), ('dob', '19/08/2005'))
(('name', 'Giangreco, Vitto Tomasso'), ('section', 'C'), ('dob', '21/03/2007'))
(('name', 'Grancara, Martina Luna'), ('section', 'C'), ('dob', '15/12/2006'))
(('name', 'Guanca, Sara Elizabeth'), ('section', 'C'), ('dob', '17/01/2007'))
(('name', 'Lopez, Victoria Constanza'), ('section', 'C'), ('dob', '12/11/2007'))
(('name', 'Mamani Garrido, Rosario Agostina'), ('section', 'C'), ('dob', '24/10/2006'))
(('name', 'Marinaro, Martin Ezequiel'), ('section', 'C'), ('dob', '03/11/2006'))
(('name', 'Merluzzi Dagum, Ignacio'), ('section', 'C'), ('dob', '22/12/2005'))
(('name', 'Messina, Martina'), ('section', 'C'), ('dob', '13/07/2005'))
(('name', 'Rasuk, Karim'), ('section', 'C'), ('dob', '13/07/2007'))
(('name', 'Rasuk, Karim'), ('section', 'C'), ('dob', '13/07/2007'))
(('name', 'Rios, Lucia Magali'), ('section', 'C'), ('dob', '22/09/2006'))
(('name', 'Sanchez Flores, Matías Agustín'), ('section', 'C'), ('dob', '15/02/2007'))
(('name', 'Scarano, Renato Marcelo'), ('section', 'C'), ('dob', '06/12/2006'))
(('name', 'Sierra, Lucas Mauricio'), ('section', 'C'), ('dob', '03/04/2005'))
(('name', 'Tapia, Martin Gabriel'), ('section', 'C'), ('dob', '30/05/2006'))
(('name', 'Vilte, Mia Antonella Alondra'), ('section', 'C'), ('dob', '10/09/2005'))
(('name', 'Virgillito, Katya Milena'), ('section', 'C'), ('dob', '19/06/2007'))
(('name', 'Alurralde, Solange Stefania'), ('section', 'D'), ('dob', '02/04/2007'))
(('name', 'Alvarado, Ludmila Del Milagro'), ('section', 'D'), ('dob', '06/09/2006'))
(('name', 'Angel, Camila Juliana'), ('section', 'D'), ('dob', '07/03/2007'))
(('name', 'Arenas, Lucas Gabriel'), ('section', 'D'), ('dob', '26/06/2007'))
(('name', 'Caseres, Maria Antonia'), ('section', 'D'), ('dob', '01/07/2006'))
(('name', 'Castillo, Paulina Milagros'), ('section', 'D'), ('dob', '01/06/2007'))
(('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006'))
(('name', 'Correa Segovia, Hugo Mariano'), ('section', 'D'), ('dob', '04/12/2006'))
(('name', 'D Elia, Alvaro Tadeo'), ('section', 'D'), ('dob', '27/08/2006'))
(('name', 'Flores, Victoria Agustina'), ('section', 'D'), ('dob', '12/12/2006'))
(('name', 'Geronimo Soriano, Lizzie Amaya'), ('section', 'D'), ('dob', '20/01/2007'))
(('name', 'Guzman, Angélica Morena'), ('section', 'D'), ('dob', '11/04/2007'))
(('name', 'Guzman, Jazmin Esmeralda Belen'), ('section', 'D'), ('dob', '31/07/2006'))
(('name', 'Jaime, Anita Maria Belen'), ('section', 'D'), ('dob', '19/04/2007'))
(('name', 'Lacour Polo, Nazarena'), ('section', 'D'), ('dob', '19/12/2005'))
(('name', 'Lascano Guanca, Marcelo Fabricio'), ('section', 'D'), ('dob', '17/02/2006'))
(('name', 'Lezcano, Celia Morena'), ('section', 'D'), ('dob', '01/07/2005'))
(('name', 'Martinez, Tomas Andres'), ('section', 'D'), ('dob', '22/03/2007'))
(('name', 'Portella Valdivia, Pedro Francisco'), ('section', 'D'), ('dob', '24/01/2007'))
(('name', 'Retamal Cisneros, Zacarias Josue'), ('section', 'D'), ('dob', '24/02/2007'))
(('name', 'Rosales, Francisco Gabriel'), ('section', 'D'), ('dob', '14/11/2006'))
(('name', 'Salem Barba, Mahia'), ('section', 'D'), ('dob', '14/10/2005'))
(('name', 'Soto Camara, Agustin Ignacio'), ('section', 'D'), ('dob', '07/11/2005'))
(('name', 'Villalba, Irina'), ('section', 'D'), ('dob', '09/09/2006'))
(('name', 'Voltolini, Emanuel Tobias'), ('section', 'D'), ('dob', '17/09/2006'))
(('name', 'Zalazar, Santino Stefano'), ('section', 'D'), ('dob', '30/09/2006'))
(('name', 'Zalazar, Santino Stefano'), ('section', 'D'), ('dob', '30/09/2006'))

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [3]:
nombres5C=set()
apellidos5C=set()
nombres5D=set()
apellidos5D=set()
#aca hago desempaqueto el diccionario
for estudiante in estudiantes:
  nombre_completo=estudiante["name"].split(",")
  apellidos=nombre_completo[0].split()
  nombres=nombre_completo[1].split(" ")
#en la teoria q mando para añadir elementos a un conjunto es add no extend
  if estudiante["section"]=="C":
    for apellido in apellidos:
      apellidos5C.add(apellido)
#HAGO FOR PORQ HAY MAS DE 1 NOMBRE Y SE VUELVE UNA  LIST
    for nombre in nombres:
      nombres5C.add(nombre)
  elif estudiante["section"]=="D":
    for apellido in apellidos:
      apellidos5D.add(apellido)
    for nombre in nombres:
      nombres5D.add(nombre)
print("5c nombres", nombres5C)
print("5c apellidos", apellidos5C)
print("5d nombres", nombres5D)
print("5d apellidos", apellidos5D)
#vi que ahora los repetidos son eliminados por el set como zalasar

5c nombres {'', 'Maitena', 'Ignacio', 'Milena', 'Lucia', 'Antonella', 'Del', 'Agustín', 'Renato', 'Lucas', 'Santino', 'Agustina', 'Octavio', 'Ismael', 'Matias', 'Victoria', 'Valle', 'Constanza', 'Martin', 'Lourdes', 'Mariel', 'Agostina', 'Alondra', 'Katya', 'Ezequiel', 'Elizabeth', 'Josue', 'Nahuel', 'Martina', 'Gabriel', 'Tiara', 'Zoe', 'Magali', 'Sara', 'Valentino', 'Nicolas', 'Mia', 'Dulce', 'Yamila', 'Mauricio', 'Karim', 'Joaquin', 'Luana', 'Vitto', 'Lautaro', 'Abril', 'Matías', 'Micaela', 'Salvador', 'Leonardo', 'Marcelo', 'Rosario', 'Ariana', 'Luna', 'Tomasso'}
5c apellidos {'Barrera', 'Messina', 'Garrido', 'Sanchez', 'Flores', 'Rios', 'Rasuk', 'Bracamonte', 'Colque', 'Barrozo', 'Araoz', 'Vilte', 'Guanca', 'Galvan', 'Figueroa', 'Diaz', 'Grancara', 'Abud', 'Dagum', 'Martinez', 'Giangreco', 'Sierra', 'Gallo', 'Merluzzi', 'Mamani', 'Tapia', 'Scarano', 'Lopez', 'Bettinelli', 'Cardozo', 'Laspiur', 'Argañaraz', 'Virgillito', 'Amador', 'Rivero', 'Marinaro', 'Vedia', 'Anaquin'}
5d nombres {'', 'Zacarias', 'Stefania', 'Francisco', 'Ignacio', 'Angélica', 'Milagros', 'Nazarena', 'Del', 'Lucas', 'Agustin', 'Agustina', 'Santino', 'Maria', 'Victoria', 'Milagro', 'Antonia', 'Tomas', 'Alvaro', 'Fabricio', 'Anita', 'Mariano', 'Tadeo', 'Josue', 'Irina', 'Emanuel', 'Paulina', 'Andres', 'Gabriel', 'Lizzie', 'Celia', 'Mahia', 'Stefano', 'Ludmila', 'Belen', 'Pedro', 'Hugo', 'Solange', 'Esmeralda', 'Juliana', 'Jazmin', 'Marcelo', 'Tobias', 'Camila', 'Amaya', 'Morena'}
5d apellidos {'Lascano', 'Voltolini', 'Flores', 'Zalazar', 'Soto', 'Caseres', 'Guzman', 'Salem', 'D', 'Angel', 'Guanca', 'Soriano', 'Valdivia', 'Geronimo', 'Cisneros', 'Lacour', 'Martinez', 'Camara', 'Alurralde', 'Barba', 'Segovia', 'Elia', 'Villalba', 'Jaime', 'Castillo', 'Polo', 'Retamal', 'Alvarado', 'Portella', 'Lezcano', 'Rosales', 'Correa', 'Arenas'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [4]:
#apellido por las dudas
conteo_nombres5D=[]
conteo_apellidos5D=[]
conteo_nombres5C=[]
conteo_apellidos5C=[]
for estudiante in estudiantes:
  nombre_completo=estudiante["name"].split(",")
  apellido=nombre_completo[0]
  nombres=nombre_completo[1].split(" ")
  if estudiante["section"]=="C":
    conteo_apellidos5C.add(apellido)
    for nombre in nombres:
      conteo_nombres5C.add(nombre)
  elif estudiante["section"]=="D":
    conteo_apellidos5D.add(apellido)
    for nombre in nombres:
      conteo_nombres5D.add(nombre)
  for conteo in conteo_nombres5C:
    if conteo in conteo_nombres5C:
      conteo+=1
    else:
      conteo=1

  print(conteo)

AttributeError: 'list' object has no attribute 'add'

In [5]:
conteo_nombres5D=dict()
conteo_apellidos5D=dict()
conteo_nombres5C=dict()
conteo_apellidos5C=dict()
for nombre in nombres5D:
  if nombre in conteo_nombres5D:
    conteo_nombres5D.update({nombre:conteo_nombres5D[nombre]+1})
  else:
    conteo_nombres5D[nombre]=1
for nombre in nombres5C:
  if nombre in conteo_nombres5C:
    conteo_nombres5C.update({nombre:conteo_nombres5C[nombre]+1})
  else:
    conteo_nombres5C[nombre]=1

print(conteo_nombres5C)

{'': 1, 'Maitena': 1, 'Ignacio': 1, 'Milena': 1, 'Lucia': 1, 'Antonella': 1, 'Del': 1, 'Agustín': 1, 'Renato': 1, 'Lucas': 1, 'Santino': 1, 'Agustina': 1, 'Octavio': 1, 'Ismael': 1, 'Matias': 1, 'Victoria': 1, 'Valle': 1, 'Constanza': 1, 'Martin': 1, 'Lourdes': 1, 'Mariel': 1, 'Agostina': 1, 'Alondra': 1, 'Katya': 1, 'Ezequiel': 1, 'Elizabeth': 1, 'Josue': 1, 'Nahuel': 1, 'Martina': 1, 'Gabriel': 1, 'Tiara': 1, 'Zoe': 1, 'Magali': 1, 'Sara': 1, 'Valentino': 1, 'Nicolas': 1, 'Mia': 1, 'Dulce': 1, 'Yamila': 1, 'Mauricio': 1, 'Karim': 1, 'Joaquin': 1, 'Luana': 1, 'Vitto': 1, 'Lautaro': 1, 'Abril': 1, 'Matías': 1, 'Micaela': 1, 'Salvador': 1, 'Leonardo': 1, 'Marcelo': 1, 'Rosario': 1, 'Ariana': 1, 'Luna': 1, 'Tomasso': 1}

In [6]:
todos_los_nombres=nombres5C.union(nombres5D)
print(f"los nombres unicos son len{todos_los_nombres}")

los nombres unicos son len{'', 'Milena', 'Francisco', 'Angélica', 'Del', 'Agustín', 'Lucas', 'Santino', 'Octavio', 'Victoria', 'Martin', 'Valle', 'Antonia', 'Lourdes', 'Mariel', 'Alvaro', 'Alondra', 'Anita', 'Ezequiel', 'Irina', 'Emanuel', 'Nahuel', 'Martina', 'Paulina', 'Gabriel', 'Tiara', 'Lizzie', 'Zoe', 'Celia', 'Sara', 'Dulce', 'Yamila', 'Solange', 'Karim', 'Lautaro', 'Salvador', 'Jazmin', 'Leonardo', 'Rosario', 'Camila', 'Ariana', 'Morena', 'Luna', 'Zacarias', 'Maitena', 'Ignacio', 'Stefania', 'Lucia', 'Antonella', 'Milagros', 'Nazarena', 'Renato', 'Agustin', 'Agustina', 'Ismael', 'Maria', 'Matias', 'Milagro', 'Constanza', 'Tomas', 'Fabricio', 'Agostina', 'Katya', 'Mariano', 'Tadeo', 'Elizabeth', 'Josue', 'Andres', 'Magali', 'Mahia', 'Stefano', 'Ludmila', 'Belen', 'Valentino', 'Nicolas', 'Pedro', 'Mia', 'Hugo', 'Esmeralda', 'Mauricio', 'Juliana', 'Joaquin', 'Luana', 'Vitto', 'Abril', 'Matías', 'Micaela', 'Marcelo', 'Tobias', 'Amaya', 'Tomasso'}

4. Muestra cuantos apellidos únicos hay en cada curso.

In [7]:
#que bueno que lo hice por las dudas
for apellido in apellidos5D:
  if apellido in conteo_apellidos5D:
    conteo_apellidos5D.update({apellido:conteo_apellidos5D[apellido]+1})
  else:
    conteo_apellidos5D[apellido]=1
for apellido in apellidos5C:
  if apellido in conteo_apellidos5C:
    conteo_apellidos5C.update({apellido:conteo_apellidos5C[apellido]+1})
  else:
    conteo_apellidos5C[apellido]=1

print(conteo_apellidos5D)
print(conteo_apellidos5C)

{'Lascano': 1, 'Voltolini': 1, 'Flores': 1, 'Zalazar': 1, 'Soto': 1, 'Caseres': 1, 'Guzman': 1, 'Salem': 1, 'D': 1, 'Angel': 1, 'Guanca': 1, 'Soriano': 1, 'Valdivia': 1, 'Geronimo': 1, 'Cisneros': 1, 'Lacour': 1, 'Martinez': 1, 'Camara': 1, 'Alurralde': 1, 'Barba': 1, 'Segovia': 1, 'Elia': 1, 'Villalba': 1, 'Jaime': 1, 'Castillo': 1, 'Polo': 1, 'Retamal': 1, 'Alvarado': 1, 'Portella': 1, 'Lezcano': 1, 'Rosales': 1, 'Correa': 1, 'Arenas': 1}
{'Barrera': 1, 'Messina': 1, 'Garrido': 1, 'Sanchez': 1, 'Flores': 1, 'Rios': 1, 'Rasuk': 1, 'Bracamonte': 1, 'Colque': 1, 'Barrozo': 1, 'Araoz': 1, 'Vilte': 1, 'Guanca': 1, 'Galvan': 1, 'Figueroa': 1, 'Diaz': 1, 'Grancara': 1, 'Abud': 1, 'Dagum': 1, 'Martinez': 1, 'Giangreco': 1, 'Sierra': 1, 'Gallo': 1, 'Merluzzi': 1, 'Mamani': 1, 'Tapia': 1, 'Scarano': 1, 'Lopez': 1, 'Bettinelli': 1, 'Cardozo': 1, 'Laspiur': 1, 'Argañaraz': 1, 'Virgillito': 1, 'Amador': 1, 'Rivero': 1, 'Marinaro': 1, 'Vedia': 1, 'Anaquin': 1}

In [8]:
#ahora bien hecho con metodo union HECHO EN CLASE
todos_los_apellidoss=apellidos5D.union(apellidos5C)
print(f"apellidos unicos {todos_los_apellidoss}")

apellidos unicos {'Lascano', 'Barrera', 'Messina', 'Garrido', 'Voltolini', 'Sanchez', 'Flores', 'Rios', 'Rasuk', 'Zalazar', 'Bracamonte', 'Soto', 'Caseres', 'Guzman', 'Colque', 'Salem', 'Barrozo', 'Araoz', 'D', 'Vilte', 'Angel', 'Guanca', 'Soriano', 'Galvan', 'Figueroa', 'Diaz', 'Valdivia', 'Grancara', 'Abud', 'Dagum', 'Geronimo', 'Cisneros', 'Lacour', 'Martinez', 'Camara', 'Alurralde', 'Giangreco', 'Sierra', 'Gallo', 'Merluzzi', 'Barba', 'Mamani', 'Tapia', 'Scarano', 'Segovia', 'Lopez', 'Bettinelli', 'Elia', 'Villalba', 'Cardozo', 'Laspiur', 'Jaime', 'Argañaraz', 'Castillo', 'Polo', 'Retamal', 'Alvarado', 'Portella', 'Virgillito', 'Vedia', 'Amador', 'Lezcano', 'Rosales', 'Correa', 'Rivero', 'Arenas', 'Marinaro', 'Anaquin'}

5. Mostrá los nombres que se aparecen em ambos cursos

In [9]:
ambos_cursos = nombres5C.intersection(nombres5D)
print(f"nombres que aparecenn{ambos_cursos}")

nombres que aparecenn{'', 'Gabriel', 'Ignacio', 'Marcelo', 'Del', 'Lucas', 'Josue', 'Santino', 'Agustina', 'Victoria'}

6. Mostrá los apellidos que se aparecen en ambos cursos

In [ ]:
ambos_cursos2 = apellidos5C.intersection(apellidos5D)
print(f"appellidos que aparecenn{ambos_cursos2}")

appellidos que aparecennset()

In [ ]:
#NO FUNCIONA EL QUE YO HICE y el de gemini tampoco

ambos_apellidos = apellidos5C.intersection(apellidos5D)
print(f"Apellidos que aparecen en ambos cursos: {ambos_apellidos}")

Apellidos que aparecen en ambos cursos: set()

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [10]:

nombres_5C_no_en_5D = nombres5C.difference(nombres5D)
nombres_5D_no_en_5C = nombres5D.difference(nombres5C)

print(f"Nombres de 5C que no están en 5D: {nombres_5C_no_en_5D}")
print(f"Nombres de 5D que no están en 5C: {nombres_5D_no_en_5C}")

Nombres de 5C que no están en 5D: {'Lucia', 'Tomasso', 'Salvador', 'Constanza', 'Ismael', 'Abril', 'Mauricio', 'Mariel', 'Octavio', 'Magali', 'Lautaro', 'Martin', 'Katya', 'Dulce', 'Nicolas', 'Ariana', 'Yamila', 'Sara', 'Renato', 'Matías', 'Ezequiel', 'Leonardo', 'Zoe', 'Lourdes', 'Agostina', 'Matias', 'Micaela', 'Mia', 'Nahuel', 'Agustín', 'Valle', 'Luana', 'Luna', 'Milena', 'Rosario', 'Vitto', 'Karim', 'Tiara', 'Alondra', 'Martina', 'Elizabeth', 'Joaquin', 'Valentino', 'Maitena', 'Antonella'}
Nombres de 5D que no están en 5C: {'Pedro', 'Celia', 'Anita', 'Irina', 'Antonia', 'Solange', 'Mariano', 'Amaya', 'Jazmin', 'Morena', 'Mahia', 'Nazarena', 'Milagro', 'Tomas', 'Zacarias', 'Emanuel', 'Ludmila', 'Stefano', 'Agustin', 'Alvaro', 'Stefania', 'Maria', 'Milagros', 'Lizzie', 'Angélica', 'Francisco', 'Tobias', 'Paulina', 'Fabricio', 'Hugo', 'Juliana', 'Tadeo', 'Esmeralda', 'Andres', 'Camila', 'Belen'}

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [11]:
apellidos_5C_no_en_5D = apellidos5C.difference(apellidos5D)
apellidos_5D_no_en_5C = apellidos5D.difference(apellidos5C)

print(f"Apellidos de 5C que no están en 5D: {apellidos_5C_no_en_5D}")
print(f"Apellidos de 5D que no están en 5C: {apellidos_5D_no_en_5C}")

Apellidos de 5C que no están en 5D: {'Barrozo', 'Figueroa', 'Rios', 'Bettinelli', 'Giangreco', 'Vilte', 'Garrido', 'Amador', 'Gallo', 'Messina', 'Marinaro', 'Bracamonte', 'Tapia', 'Anaquin', 'Grancara', 'Diaz', 'Merluzzi', 'Rivero', 'Araoz', 'Rasuk', 'Virgillito', 'Lopez', 'Sanchez', 'Vedia', 'Barrera', 'Mamani', 'Sierra', 'Dagum', 'Abud', 'Galvan', 'Cardozo', 'Scarano', 'Laspiur', 'Argañaraz', 'Colque'}
Apellidos de 5D que no están en 5C: {'Correa', 'Camara', 'Soriano', 'Geronimo', 'Caseres', 'Jaime', 'Barba', 'Arenas', 'Rosales', 'Portella', 'D', 'Villalba', 'Lascano', 'Alurralde', 'Salem', 'Castillo', 'Angel', 'Alvarado', 'Segovia', 'Lacour', 'Lezcano', 'Valdivia', 'Retamal', 'Guzman', 'Polo', 'Voltolini', 'Elia', 'Cisneros', 'Soto', 'Zalazar'}

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

> Agregar bloque entrecomillado

In [12]:

todos_los_nombres = nombres5C.union(nombres5D)
nombres_en_ambos_cursos = nombres5C.intersection(nombres5D)
nombres_unicos = todos_los_nombres.difference(nombres_en_ambos_cursos)

print(f"Todos los nombres, menos los que existen en ambos cursos: {nombres_unicos}")

Todos los nombres, menos los que existen en ambos cursos: {'Constanza', 'Abril', 'Mauricio', 'Irina', 'Mariel', 'Mariano', 'Magali', 'Amaya', 'Jazmin', 'Mahia', 'Katya', 'Dulce', 'Nazarena', 'Milagro', 'Ludmila', 'Renato', 'Stefano', 'Ezequiel', 'Leonardo', 'Alvaro', 'Stefania', 'Maria', 'Milagros', 'Lourdes', 'Lizzie', 'Angélica', 'Francisco', 'Matias', 'Micaela', 'Nahuel', 'Luna', 'Luana', 'Paulina', 'Hugo', 'Vitto', 'Alondra', 'Martina', 'Elizabeth', 'Andres', 'Valentino', 'Camila', 'Antonella', 'Lucia', 'Salvador', 'Tomasso', 'Pedro', 'Ismael', 'Anita', 'Celia', 'Octavio', 'Antonia', 'Solange', 'Lautaro', 'Morena', 'Martin', 'Nicolas', 'Tomas', 'Ariana', 'Zacarias', 'Yamila', 'Emanuel', 'Sara', 'Matías', 'Agustin', 'Zoe', 'Agostina', 'Mia', 'Tobias', 'Agustín', 'Valle', 'Milena', 'Fabricio', 'Juliana', 'Rosario', 'Karim', 'Tadeo', 'Tiara', 'Esmeralda', 'Joaquin', 'Maitena', 'Belen'}

10. elimina tu nombre del conjunto al que pertenece

In [13]:

nombres5D.discard("Lucas")
nombres5D.discard("Gabriel")
print(nombres5D)

{'', 'Pedro', 'Anita', 'Celia', 'Irina', 'Antonia', 'Solange', 'Mariano', 'Josue', 'Amaya', 'Jazmin', 'Morena', 'Mahia', 'Del', 'Victoria', 'Nazarena', 'Milagro', 'Tomas', 'Zacarias', 'Agustina', 'Emanuel', 'Santino', 'Ludmila', 'Stefano', 'Ignacio', 'Agustin', 'Alvaro', 'Stefania', 'Maria', 'Milagros', 'Lizzie', 'Angélica', 'Francisco', 'Tobias', 'Paulina', 'Fabricio', 'Hugo', 'Juliana', 'Marcelo', 'Tadeo', 'Esmeralda', 'Andres', 'Camila', 'Belen'}

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [14]:

nombre = input("Ingrese un nombre: ")
apellido = input("Ingrese un apellido: ")

nombres5D.add(nombre)
apellidos5D.add(apellido)

print(f"Conjuntos actualizados:\nNombres 5D: {nombres5D}\nApellidos 5D: {apellidos5D}")

Ingrese un nombre: Toilet Sigma
Ingrese un apellido: Gigachad
Conjuntos actualizados:
Nombres 5D: {'', 'Pedro', 'Anita', 'Celia', 'Irina', 'Antonia', 'Solange', 'Mariano', 'Josue', 'Toilet Sigma', 'Amaya', 'Jazmin', 'Morena', 'Mahia', 'Del', 'Victoria', 'Nazarena', 'Milagro', 'Tomas', 'Zacarias', 'Agustina', 'Emanuel', 'Santino', 'Ludmila', 'Stefano', 'Ignacio', 'Agustin', 'Alvaro', 'Stefania', 'Maria', 'Milagros', 'Lizzie', 'Angélica', 'Francisco', 'Tobias', 'Paulina', 'Fabricio', 'Hugo', 'Juliana', 'Marcelo', 'Tadeo', 'Esmeralda', 'Andres', 'Camila', 'Belen'}
Apellidos 5D: {'Correa', 'Camara', 'Soriano', 'Geronimo', 'Caseres', 'Jaime', 'Barba', 'Arenas', 'Rosales', 'Portella', 'D', 'Villalba', 'Lascano', 'Alurralde', 'Salem', 'Castillo', 'Angel', 'Alvarado', 'Segovia', 'Lacour', 'Lezcano', 'Flores', 'Valdivia', 'Guanca', 'Gigachad', 'Retamal', 'Martinez', 'Guzman', 'Polo', 'Voltolini', 'Elia', 'Cisneros', 'Soto', 'Zalazar'}

12. Solicita un nombre y verifica si este existe en el diccionario

In [ ]:

nombre_a_buscar = input("Ingrese un nombre para verificar si existe: ")

if nombre_a_buscar in nombres5D:
  print(f"El nombre {nombre_a_buscar} existe en el conjunto de nombres de 5D.")
else:
  print(f"El nombre {nombre_a_buscar} no existe en el conjunto de nombres de 5D.")